body {
  background-color: lightpink;
  font-family: Arial, sans-serif;
  color: #4B3621;
}

h1, h2, h3, h4, h5, h6 {
  color: #7C4B3F;
}

input, select, textarea {
  font-family: Arial, sans-serif;
  color: #7C4B3F;
  background-color: #FFEEDD;
  border: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

button {
  font-family: Arial, sans-serif;
  color: #7C4B3F;
  background-color: lightpink;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

/* background image */
body {
  background-image: url("CATS_AND_DOGS.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
